#comment_source {
    display: none;
    margin: 0 0 5px 1em;
    padding: 5px;
    border-radius: 10px;
    background: #E1BEE7;
    width: 16em;
}

#select_comment_button {
    display: none;
    margin: 0 0 -0.8em 1em;
    width: 14em;
    font-size: 0.8em;
    text-align: center;
    background-color: #8E24AA;
    color: #ecf0f1;
}

#select_comment_button:hover,
#select_comment_button:focus {
    background-color: #4A148C;
}

#select_comment_button label {
    margin: -5px;
}

#comment {
    position: absolute;
    top: 4em;
    left: -20em;
    padding: 0.5em;
    border: 2px solid #1565C0;
    border-radius: 0% 5% 5% 0%;
    background-color: #BBDEFB;
    width: 16em;
    transition: 0.5s;
}

.comment_show {
    transform: translateX(20em);
}

.comment_title:hover,
.current_comment_item {
    cursor: pointer;
    background-color: #42A5F5;
}

.comment_title {
    border-bottom: 2px solid #4a26fd;
    margin-bottom: 3px;
}

.comment_title .comment_title_time_HHMMSS {
    display: inline-block;
    font-size: small;
    color: #757575;
    width: 4em;
    overflow: hidden;
}

.comment_title .comment_title_text {
    display: inline-block;
    width: 6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete_comment,
.edit_comment {
    float: right;
    font-size: small;
    padding: 3px;
}

.delete_comment:hover {
    cursor: pointer;
    background-color: #E53935;
}

.edit_comment:hover {
    cursor: pointer;
    background-color: #A5D6A7;
}

#add_comment {
    display: none;
    font-size: small;
    border: 1px solid #1976D2;
    padding: 4px;
    background-color: #90CAF9;
    border-radius: 5px;
    margin: 0 0 -0.8em 1em;
    text-align: center;
    width: 6em;
}

#add_comment:hover {
    cursor: pointer;
    background-color: #2196F3;
}

#download_comment {
    font-size: small;
    border: 1px solid #2E7D32;
    padding: 4px;
    float: right;
    margin-top: 1em;
    background-color: #A5D6A7;
    border-radius: 5px;
}

#download_comment:hover {
    cursor: pointer;
    background-color: #43A047;
}

.comment_text {
    position: absolute;
    padding: 10px;
    border: 1px solid #FF6F00;
    background: #FFE082;
    border-radius: 10px;
    max-width: 20%;
    word-wrap: break-word;
    opacity: 0.8;
}

.comment_text_left_top {
    top: 7%;
    left: 5%;
}

.comment_text_left {
    top: 50%;
    left: 5%;
}

.comment_text_left_down {
    bottom: 7%;
    left: 5%;
}

.comment_text_center_top {
    top: 7%;
    left: 50%;
}

.comment_text_center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comment_text_center_down {
    bottom: 7%;
    left: 50%;
}

.comment_text_right_top {
    top: 7%;
    right: 5%;
}

.comment_text_right {
    top: 50%;
    right: 5%;
}

.comment_text_right_down {
    right: 5%;
    bottom: 7%;
}

#comment_dialog {
    display: none;
    position: absolute;
    top: 30%;
    left: 45%;
    border: 1px solid olive;
    border-radius: 5px;
    background-color: orange;
    padding: 10px;
    width: 20em;
}

#comment_text_input {
    width: 18em;
    height: 10em;
}

#comment_time_HHMMSS {
    width: 5em;
}

.comment_input_focus {
    background-color: #FFF59D;
}

#close_comment_dialog {
    float: right;
}

#new_comment_dialog_title,
#update_comment_dialog_title {
    text-align: center;
    width: 50%;
    margin: 0 auto 1em auto;
    background-color: #2196F3;
    border-radius: 3px;
    font-size: large;
    padding: 5px;
    color: #FFFFFF;
}

#comment_duration {
    margin-bottom: 1em;
}

#comment_duration:hover {
    text-shadow: 1px 1px #aaa;
    color: #1e88e5;
}

#comment_duration_input {
    width: 3em;
}