#comment_source {
    background: #e1bee7;
    border-radius: 10px;
    display: none;
    margin: 0 0 5px 1em;
    padding: 5px;
    width: 12em;
}

#comment_source:hover {
    background-color: #ab47bc;
}

#select_comment_button {
    background-color: #b39ddb;
    border: 1px solid #4a148c;
    display: none;
    font-size: 0.8em;
    margin: 0 0 -0.9em 1em;
    width: 8em;
}

#select_comment_button:hover {
    background-color: #8e24aa;
}

#select_comment_button label {
    margin: -5px;
}

#comment {
    background-color: #bbdefb;
    border: 2px solid #1565c0;
    border-radius: 0% 5% 5% 0%;
    display: none;
    left: -15em;
    max-height: 80%;
    overflow: auto;
    padding: 0.5em 3px 0.5em 0.5em;
    position: absolute;
    top: 3.2em;
    transition: 0.5s;
    width: 16em;
    z-index: 1;
}

#toggle_comment_list {
    background-color: #b0bec5;
    border: 2px solid #78909c;
    color: #263238;
    cursor: e-resize;
    float: right;
    font-size: x-small;
    height: 100%;
    padding: 3px;
    width: 1em;
}

#toggle_comment_list.toggle_comment_show {
    border-radius: 0 20% 20% 0;
}

#toggle_comment_list.toggle_comment_hide {
    border-radius: 20% 0 0 20%;
}

#comment.comment_show {
    transform: translateX(15em);
}

.comment_title:hover,
.current_comment_item {
    background-color: #42a5f5;
    cursor: pointer;
}

#comment_list {
    width: 90%;
}

.comment_title {
    border-bottom: 2px solid #4a26fd;
    margin-bottom: 3px;
}

.comment_title .comment_title_time_HHMMSS {
    color: #757575;
    display: inline-block;
    font-size: small;
    overflow: hidden;
    width: 4em;
}

.comment_title .comment_title_text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 6em;
}

.delete_comment,
.edit_comment {
    float: right;
    font-size: small;
    padding: 3px;
}

.delete_comment:hover {
    background-color: #e53935;
    cursor: pointer;
}

.edit_comment:hover,
.edit_comment_editing {
    background-color: #a5d6a7;
    cursor: pointer;
}

#add_comment {
    background-color: #90caf9;
    border: 1px solid #1976d2;
    border-radius: 5px;
    display: none;
    font-size: small;
    margin: 0 0 -0.8em 1em;
    padding: 4px;
    width: 6em;
}

#add_comment:hover {
    background-color: #2196f3;
}

#download_comment {
    background-color: #a1887f;
    border: 1px solid #5d4037;
    border-radius: 5px;
    float: right;
    font-size: small;
    margin: 1em 0.5em 0 0;
    padding: 4px;
}

#download_comment:hover {
    background-color: #795548;
    cursor: pointer;
}

.comment_text {
    background: #ffe082;
    border: 1px solid #ff6f00;
    border-radius: 10px;
    max-width: 20%;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    word-wrap: break-word;
}

.comment_text_left_top {
    left: 5%;
    top: 7%;
}

.comment_text_left {
    left: 5%;
    top: 50%;
}

.comment_text_left_down {
    bottom: 7%;
    left: 5%;
}

.comment_text_center_top {
    left: 50%;
    top: 7%;
}

.comment_text_center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.comment_text_center_down {
    bottom: 7%;
    left: 50%;
}

.comment_text_right_top {
    right: 5%;
    top: 7%;
}

.comment_text_right {
    right: 5%;
    top: 50%;
}

.comment_text_right_down {
    bottom: 7%;
    right: 5%;
}

#comment_dialog {
    background-color: orange;
    border: 1px solid olive;
    border-radius: 5px;
    padding: 10px;
    top: 15%;
    width: 20em;
}

#comment_dialog kbd {
    font-size: 10px;
    margin: 4px 0px;
}

#comment_text_input {
    height: 10em;
    width: 18em;
}

#comment_time b {
    font-size: small;
}

#comment_time_HHMMSS {
    cursor: not-allowed;
    width: 5em;
}

.comment_input_focus {
    background-color: #fff59d;
}

#close_comment_dialog {
    float: right;
}

#new_comment_dialog_title,
#update_comment_dialog_title {
    border-radius: 4px;
    color: #ffffff;
    font-size: large;
    margin: 0 auto 1em auto;
    text-align: center;
    width: 50%;
}

#new_comment_dialog_title {
    background-color: #2196f3;
}

#update_comment_dialog_title {
    background-color: #2e7d32;
}

#comment_duration {
    float: left;
    margin-top: 10px;
}

#comment_duration:hover {
    color: #1e88e5;
    text-shadow: 1px 1px #aaaaaa;
}

#comment_duration_input {
    width: 3em;
}

#comment_position {
    background-color: #e0e0e0;
    border: 1px solid #757575;
    border-radius: 5px;
    float: left;
    margin: 5px 0 0 15px;
    padding: 5px;
    text-align: center;
}

.comment_submit_button {
    clear: left;
    display: block;
}
