#comment_source {
    display: none;
    margin: 0 0 5px 1em;
    padding: 5px;
    width: 12em;
    border-radius: 10px;
    background: #E1BEE7;
}

#comment_source:hover {
    background-color: #AB47BC;
}

#select_comment_button {
    display: none;
    margin: 0 0 -0.9em 1em;
    width: 8em;
    border: 1px solid #4A148C;
    background-color: #B39DDB;
    font-size: 0.8em;
}

#select_comment_button:hover {
    background-color: #8E24AA;
}

#select_comment_button label {
    margin: -5px;
}

#comment {
    display: none;
    position: absolute;
    top: 3.2em;
    left: -15em;
    overflow: auto;
    padding: 0.5em 3px 0.5em 0.5em;
    max-height: 80%;
    width: 16em;
    border: 2px solid #1565C0;
    border-radius: 0% 5% 5% 0%;
    background-color: #BBDEFB;
    transition: 0.5s;
}

#toggle_comment_list {
    float: right;
    padding: 3px;
    width: 1em;
    height: 100%;
    border: 2px solid #78909C;
    background-color: #B0BEC5;
    color: #263238;
    font-size: x-small;
    cursor: e-resize;
}

#toggle_comment_list.toggle_comment_show {
    border-radius: 0 20% 20% 0;
}

#toggle_comment_list.toggle_comment_hide {
    border-radius: 20% 0 0 20%;
}

#comment.comment_show {
    transform: translateX(15em);
}

.comment_title:hover,
.current_comment_item {
    background-color: #42A5F5;
    cursor: pointer;
}

#comment_list {
    width: 90%;
}

.comment_title {
    margin-bottom: 3px;
    border-bottom: 2px solid #4a26fd;
}

.comment_title .comment_title_time_HHMMSS {
    display: inline-block;
    overflow: hidden;
    width: 4em;
    color: #757575;
    font-size: small;
}

.comment_title .comment_title_text {
    display: inline-block;
    overflow: hidden;
    width: 6em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete_comment,
.edit_comment {
    float: right;
    padding: 3px;
    font-size: small;
}

.delete_comment:hover {
    background-color: #E53935;
    cursor: pointer;
}

.edit_comment:hover {
    background-color: #A5D6A7;
    cursor: pointer;
}

#add_comment {
    display: none;
    margin: 0 0 -0.8em 1em;
    padding: 4px;
    width: 6em;
    border: 1px solid #1976D2;
    border-radius: 5px;
    background-color: #90CAF9;
    font-size: small;
}

#add_comment:hover {
    background-color: #2196F3;
}

#download_comment {
    float: right;
    margin: 1em 0.5em 0 0;
    padding: 4px;
    border: 1px solid #2E7D32;
    border-radius: 5px;
    background-color: #A5D6A7;
    font-size: small;
}

#download_comment:hover {
    background-color: #43A047;
    cursor: pointer;
}

.comment_text {
    position: absolute;
    padding: 10px;
    max-width: 20%;
    border: 1px solid #FF6F00;
    border-radius: 10px;
    background: #FFE082;
    word-wrap: break-word;
    opacity: 0.8;
}

.comment_text_left_top {
    top: 7%;
    left: 5%;
}

.comment_text_left {
    top: 50%;
    left: 5%;
}

.comment_text_left_down {
    bottom: 7%;
    left: 5%;
}

.comment_text_center_top {
    top: 7%;
    left: 50%;
}

.comment_text_center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comment_text_center_down {
    bottom: 7%;
    left: 50%;
}

.comment_text_right_top {
    top: 7%;
    right: 5%;
}

.comment_text_right {
    top: 50%;
    right: 5%;
}

.comment_text_right_down {
    right: 5%;
    bottom: 7%;
}

#comment_dialog {
    top: 15%;
    padding: 10px;
    width: 20em;
    border: 1px solid olive;
    border-radius: 5px;
    background-color: orange;
}

#comment_dialog kbd {
    margin: 4px 0px;
    font-size: 10px;
}

#comment_text_input {
    width: 18em;
    height: 10em;
}

#comment_time b {
    font-size: small;
}

#comment_time_HHMMSS {
    width: 5em;
    cursor: not-allowed;
}

.comment_input_focus {
    background-color: #FFF59D;
}

#close_comment_dialog {
    float: right;
}

#new_comment_dialog_title,
#update_comment_dialog_title {
    margin: 0 auto 1em auto;
    padding: 5px;
    width: 50%;
    border-radius: 3px;
    background-color: #2196F3;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
}

#comment_duration {
    margin-bottom: 1em;
}

#comment_duration:hover {
    color: #1e88e5;
    text-shadow: 1px 1px #aaaaaa;
}

#comment_duration_input {
    width: 3em;
}