#control {
    color: #ffffff;
    display: none;
    float: right;
    padding: 3px;
}

#control .property_item {
    display: inline-block;
    margin-right: 1em;
}

#control .property_item > * {
    cursor: pointer;
}

#draw_property {
    background-color: #616161;
    border: 2px solid #f5f5f5;
    border-radius: 0% 0% 5% 5%;
    color: #ffffff;
    display: none;
    opacity: 0;
    padding: 1em;
    position: absolute;
    right: 1em;
    top: -12em;
    transition: 0.5s;
    width: 10em;
    z-index: 1;
}

#draw_property.show_draw_property {
    opacity: 1;
    transform: translateY(15em);
}

#draw_property input[type="number"] {
    width: 3.2em;
}

#draw_property .property_item {
    margin: 0.7em 0;
}

.property_item:hover {
    color: #1e88e5;
    text-shadow: 1px 1px #aaa;
}
