kbd {
    display: inline-block;
    line-height: 1.2;
    padding: 0.2em 0.6em;
    white-space: nowrap;
    color: #242729;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    background-color: #eeeeee;
    font-size: 1.2em;
}

kbd.small {
    font-size: 0.9em;
}

#hotkeys {
    position: absolute;
    top: 10px;
    left: 10px;
}

.button_pressed {
    border-style: inset;
}

#hotkeys .show_hotkeys {
    transform: translateY(30em);
    transition-timing-function: ease-in;
    opacity: 1;
}

#hotkey_buttons {
    padding-top: 0.5em;
    transition: 0.5s;
    margin-top: -30em;
    opacity: 0;
}

#hotkey_buttons button {
    font-size: 12px;
    width: 8em;
    vertical-align: top;
}

#hotkey_buttons .button_info {
    display: block;
}

#hotkey_buttons #video_wheel_button,
#hotkey_buttons #option_wheel_button {
    width: 10em;
}