kbd {
    background-color: #eeeeee;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    color: #242729;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0.2em 0.6em;
    white-space: nowrap;
}

kbd.small {
    font-size: 0.9em;
}

#hotkeys {
    left: 10px;
    position: absolute;
    top: 10px;
}

.button_pressed {
    background-color: #9e9e9e;
    border-style: inset;
}

#hotkey_toggle_button {
    position: relative;
    z-index: 1;
}

#hotkeys .show_hotkeys {
    opacity: 1;
    transform: translateY(35em);
    transition-timing-function: ease-in;
}

#hotkey_buttons {
    margin-top: -35em;
    opacity: 0;
    padding-top: 0.5em;
    transition: 0.5s;
}

#hotkey_buttons button {
    background-color: #b0bec5;
    color: #0d47a1;
    font-size: 12px;
    vertical-align: top;
    width: 8em;
}

#hotkey_buttons .button_on_info {
    color: #e64a19;
    display: block;
}

#hotkey_buttons .button_info {
    display: block;
}

#hotkey_buttons #video_wheel_button,
#hotkey_buttons #option_wheel_button,
#hotkey_buttons #close_comment_dialog_button,
#hotkey_buttons #submit_comment_dialog_button,
#hotkey_buttons #toggle_draw_property_button {
    width: 10em;
}
