/* 載入註解、熱鍵說明樣式 */
@import "comment.css";
@import "hotkeys.css";

body {
    margin: 5px;
    padding: 5px;
    background: #242729;
    font-family: Arial, Helvetica, sans-serif;
}

#video_source {
    display: none;
    margin: 0 0 5px 0;
    padding: 5px;
    width: 16em;
    border-radius: 10px;
    background-color: #bdbdbd;
}

#select_video_button {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    background-color: #F4511e;
    color: #ecf0f1;
    transform: translateX(-50%);
}

#instruction {
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.instruction_message {
    padding: 10px;
    border: 1px solid #0277BD;
    border-radius: 10px;
    background-color: #29B6F6;
}

.instruction_message kbd {
    margin: 0 0.3em;
    font-size: 0.8em;
}

/* 偵測是否啟用全螢幕，若沒有則顯示說明 */
@media all and (display-mode: fullscreen) {
    #full_screen_messgage {
        display: none;
    }
}

#full_screen_messgage {
    margin-bottom: 0.5em;
}

#resize_messgage {
    display: none;
}

#select_video_button:hover,
#select_video_button:focus {
    background-color: #bf360c;
}

#message {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #1E88E5;
    color: #fff;
    font-size: 1.5em;
    transform: translateX(-50%);
}

.select_button {
    overflow: hidden;
    outline: none;
    border-width: 0;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 1.5em;
    transition: background-color 0.3s;
}

.select_button label {
    display: inline-block;
    padding: 10px;
    width: 100%;
}

#control {
    display: none;
    float: right;
    padding: 3px;
    color: #ffffff;
}

#control .property_item {
    display: inline-block;
    margin-right: 1em;
}

#draw_property {
    display: none;
    position: absolute;
    top: -12em;
    right: 1em;
    z-index: 1;
    padding: 1em;
    width: 10em;
    border: 2px solid #F5F5F5;
    border-radius: 0% 0% 5% 5%;
    background-color: #616161;
    color: #ffffff;
    opacity: 0;
    transition: 0.5s;
}

#draw_property.show_draw_property {
    opacity: 1;
    transform: translateY(15em);
}

#draw_property input[type=number] {
    width: 3.2em;
}

#draw_property .property_item {
    margin: 0.7em 0;
}

.property_item:hover {
    color: #1e88e5;
    text-shadow: 1px 1px #aaa;
}

#container {
    position: relative;
    overflow: hidden;
    margin: auto;
}

#video_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    transition-duration: 0.5s;
}

.video_info {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-shadow: 2px 2px 3px #434a54;
}

#video_playback_time_info {
    right: 10px;
    bottom: 1.5em;
}

#video_playback_speed_info {
    top: 10px;
    right: 10px;
}

#video_size_info {
    top: 50px;
    right: 10px;
}

#video_osd {
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 130%;
    opacity: 0.7;
    transition: transform 0.4s;
}

.osd_center {
    top: 50%;
    left: 50%;
}

.osd_right {
    top: 50%;
    right: 15%;
}

.osd_left {
    top: 50%;
    left: 15%;
}

#canvas_area {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

#video_progress {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin: 0 auto;
    cursor: pointer;
}

#back_time {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

#back_time_pointer {
    display: none;
    width: 3px;
    height: 1.4em;
    background-color: #d35400;
}

#version {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #999999;
}