/* 載入註解、熱鍵說明、控制屬性樣式 */
@import "comment.css";
@import "hotkeys.css";
@import "control_draw.css";

body {
    background: #242729;
    margin: 5px;
    padding: 5px;
}

#video_source {
    background-color: #bdbdbd;
    border-radius: 10px;
    display: none;
    margin: 0 0 5px 0;
    padding: 5px;
    width: 12em;
}

#video_source:hover {
    background-color: #757575;
}

#select_video_button {
    background-color: #f4511e;
    color: #ecf0f1;
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    z-index: 1;
}

#instruction {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 55%;
    transform: translateX(-50%);
}

.instruction_message {
    background-color: #29b6f6;
    border: 1px solid #0277bd;
    border-radius: 10px;
    padding: 10px;
}

.instruction_message kbd {
    font-size: 0.8em;
    margin: 0 0.3em;
}

/* 偵測是否啟用全螢幕，若沒有則顯示說明 */
@media all and (display-mode: fullscreen) {
    #full_screen_messgage {
        display: none;
    }
}

#full_screen_messgage {
    margin-bottom: 0.5em;
}

#resize_messgage {
    display: none;
}

#select_video_button:hover,
#select_video_button:focus {
    background-color: #bf360c;
}

#message {
    background-color: #1e88e5;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #fff;
    display: none;
    font-size: 1.5em;
    left: 50%;
    margin: 10px;
    padding: 10px;
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    z-index: 1;
}

.buttons {
    border-radius: 6px;
    border-width: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 1.5em;
    outline: none;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.3s;
}

.buttons label {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.buttons:hover {
    cursor: pointer;
}

#container {
    margin: auto;
    overflow: hidden;
    position: relative;
}

#video_content {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.5s;
}

.video_info {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: none;
    padding: 5px;
    position: absolute;
    text-shadow: 2px 2px 3px #434a54;
}

#video_playback_time_info {
    bottom: 1.5em;
    right: 10px;
}

#video_playback_speed_info {
    right: 10px;
    top: 10px;
}

#playback_speed.normal {
    color: inherit;
}

#playback_speed.faster {
    color: #ff1744;
}

#playback_speed.slower {
    color: #ce93d8;
}

#video_muted_info {
    right: 10px;
    top: 50px;
}

#video_size_info {
    right: 10px;
    top: 90px;
}

#video_osd {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #ffffff;
    display: none;
    font-size: 130%;
    opacity: 0.7;
    padding: 5px;
    position: absolute;
    transition: transform 0.4s;
}

.osd_center {
    left: 50%;
    top: 50%;
}

.osd_right {
    right: 15%;
    top: 50%;
}

.osd_left {
    left: 15%;
    top: 50%;
}

#canvas_area {
    bottom: 0;
    display: none;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
}

#video_progress {
    bottom: 0;
    cursor: pointer;
    display: none;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
}

#back_time {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

#back_time_pointer {
    background-color: #d35400;
    display: none;
    height: 1.4em;
    position: relative;
    width: 3px;
    z-index: 1;
}

#version {
    bottom: 20px;
    color: #999999;
    position: absolute;
    right: 20px;
}

#version a {
    color: #bdbdbd;
}

#version a:hover {
    color: #757575;
}
