body {
    margin: 5px;
    padding: 5px;
    background: #242729;
}

kbd {
    line-height: 1.2;
    display: inline-block;
    margin: 0 0.1em 0 0.5em;
    padding: 0.2em 0.6em;
    white-space: nowrap;
    color: #242729;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    background-color: #eeeeee;
    font-size: 1.2em;
}

#video_source {
    margin: 5px;
    padding: 5px;
    border: 2px solid #32ff00;
    border-radius: 10px;
    background: #ffffff;
}

#message {
    font-size: 16px;
    position: absolute;
    left: 40%;
    display: inline-block;
    margin: 10px;
    color: #3486eb;
}

#pen_control {
    float: right;
    padding: 3px;
    color: #ffffff;
}

#pen_control .item {
    display: inline-block;
    margin-right: 1em;
}

#container {
    position: relative;
    overflow: hidden;
    margin: auto;
}

#video_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    transition-duration: 0.5s;
}

.video_info {
    position: absolute;
    display: none;
    padding: 5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 3px #434a54;
}

#video_playback_time_info {
    right: 20px;
    bottom: 30px;
}

#video_playback_speed_info {
    top: 20px;
    right: 20px;
}

#video_resized {
    top: 60px;
    right: 20px;
}

#video_osd {
    font-size: 130%;
    position: absolute;
    display: none;
    padding: 5px;
    transition: transform 0.4s;
    opacity: 0.7;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.osd_center {
    top: 50%;
    left: 50%;
}

.osd_right {
    top: 50%;
    right: 15%;
}

.osd_left {
    top: 50%;
    left: 15%;
}

#canvas_area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: 0 auto;
}

#control_area {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80%;
}

#control_buttons {
    display: none;
}

#control_buttons button {
    font-size: 12px;
    width: 10em;
}

#control_buttons .small {
    font-size: 0.9em;
}

#control_buttons .button_info {
    display: block;
}

#video_progress {
    position: absolute;
    bottom: 0;
    display: none;
    margin: 0 auto;
    cursor: pointer;
}