body {
    margin: 5px;
    padding: 5px;
    background: #242729;
}

kbd {
    line-height: 1.2;
    display: inline-block;
    margin: 0 0.1em 0 0.5em;
    padding: 0.2em 0.6em;
    white-space: nowrap;
    color: #242729;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    background-color: #eeeeee;
    font-size: 1.2em;
}

#video_source {
    display: none;
    margin: 0 0 5px 0;
    padding: 5px;
    border-radius: 10px;
    background: #bdbdbd;
}

#select_video_button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 40%;
    z-index: 1;
}

#comment_source {
    display: none;
    margin: 0 0 5px 1em;
    padding: 5px;
    border-radius: 10px;
    background: #d4bff9;
}

#select_comment_button {
    margin-left: 1em;
    display: none;
    width: 14em;
    font-size: 0.8em;
    text-align: center;
    background-color: #8E24AA;
}

#select_comment_button label {
    padding: 5px;
}

#message {
    font-size: 1.5em;
    position: absolute;
    display: none;
    margin: 10px;
    color: #fff;
    top: 40%;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    background-color: #1E88E5;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
}

.button {
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #e67e22;
    color: #ecf0f1;
    font-size: 1.5em;
    transition: background-color .3s;
}

.button:hover,
.button:focus {
    background-color: #d35400;
}

.button label {
    padding: 10px;
    display: inline-block;
}

#control {
    display: none;
    float: right;
    padding: 3px;
    color: #ffffff;
}

#control .item {
    display: inline-block;
    margin-right: 1em;
}

#control .item:hover {
    text-shadow: 1px 1px #aaa;
    color: #1e88e5;
}

#control input[type=number] {
    width: 3.2em;
}

#container {
    position: relative;
    overflow: hidden;
    margin: auto;
}

#video_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    transition-duration: 0.5s;
}

.video_info {
    position: absolute;
    display: none;
    padding: 5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 3px #434a54;
}

#video_playback_time_info {
    right: 10px;
    bottom: 1.5em;
}

#video_playback_speed_info {
    top: 20px;
    right: 20px;
}

#video_size {
    top: 60px;
    right: 20px;
}

#video_osd {
    font-size: 130%;
    position: absolute;
    display: none;
    padding: 5px;
    transition: transform 0.4s;
    opacity: 0.7;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.osd_center {
    top: 50%;
    left: 50%;
}

.osd_right {
    top: 50%;
    right: 15%;
}

.osd_left {
    top: 50%;
    left: 15%;
}

#comment_list {
    display: none;
    position: absolute;
    top: 4em;
    left: 1em;
    padding: 0.5em;
    border: 2px solid #1565C0;
    background-color: #BBDEFB;
    width: 5%;
}

.comment {
    position: absolute;
    padding: 5px;
    font-size: 130%;
    border: 1px solid #4a26fd;
    background: #ffddb0;
    border-radius: 10px;
    width: 7%;
    word-wrap: break-word;
    opacity: 0.8;
}

.comment_left_top {
    top: 15%;
    left: 15%;
}

.comment_left {
    top: 50%;
    left: 15%;
}

.comment_left_down {
    bottom: 15%;
    left: 15%;
}

.comment_center_top {
    top: 15%;
    left: 50%;
}

.comment_center {
    top: 50%;
    left: 50%;
}

.comment_center_down {
    bottom: 15%;
    left: 50%;
}

.comment_right_top {
    top: 15%;
    right: 15%;
}

.comment_right {
    top: 50%;
    right: 15%;
}

.comment_right_down {
    bottom: 15%;
    right: 15%;
}

#canvas_area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: 0 auto;
}

#hotkeys {
    position: absolute;
    top: 10px;
    left: 10px;
}

#hotkeys .button_pressed {
    border-style: inset;
}

#hotkey_buttons {
    display: none;
    padding-top: 0.5em;
}

#hotkey_buttons button {
    font-size: 12px;
    width: 8em;
}

#hotkey_buttons .small {
    font-size: 0.9em;
}

#hotkey_buttons .button_info {
    display: block;
}

#hotkey_buttons #video_wheel_button,
#hotkey_buttons #option_wheel_button {
    width: 10em;
}

#video_progress {
    position: absolute;
    bottom: 0;
    display: none;
    margin: 0 auto;
    cursor: pointer;
}

#version {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #999999;
}